<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jsgridCss")
</head>
<body style="background-color:#e3e3e3">
    <div class="navbar navbar-inverse navbar-fixed-top"  style="background-color:#46C2EB">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Personal Accountant", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Personal account", "Index", "Home", new { Area = "" }, new { })</li>
                    <li>@Html.ActionLink("Other", "Index", "Main", new { Area = "Investment" }, new { })</li>
                    <li>@Html.ActionLink("Debts", "Index", "Main", new { Area = "Debts" }, new { })</li>
                    <li style="display:none">@Html.ActionLink("Settings", "Contact", "Home")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jsgrid")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/accountant")
    @Scripts.Render("~/bundles/personalJS")
    @Scripts.Render("~/bundles/debtJS")
    @Scripts.Render("~/bundles/OtherJS")
    @RenderSection("scripts", required: false)
</body>
</html>
