
@{
    ViewBag.Title = "Other manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="app" ng-controller="accountantMainController" ng-init="init()">
    <div ng-class="row" ng-controller="PlanedBuyController as plan" ng-init="plan.init()" style="height:500px">
        <div class="col-lg-4" style="border-right:8px solid #46c2eb;">
            <div class="row" >
                @Html.Partial("~/Areas/Investment/Views/Plan/WishToBuyView.cshtml")
            </div>
            <div class="row">
                @Html.Partial("~/Areas/Investment/Views/Plan/StoreMoneyView.cshtml")
            </div>
            <div class="row">
                @Html.Partial("~/Areas/Investment/Views/Plan/WishListView.cshtml")
            </div>
        </div>
        <div class="col-lg-8" ng-controller="FreelanceController as freelance" ng-init="freelance.init()">
            <div class="row">
                @Html.Partial("~/Areas/Investment/Views/Project/AddFreelanceProject.cshtml")
            </div>
            <div class="row">
                @Html.Partial("~/Areas/Investment/Views/Project/FreelanceProjectsList.cshtml")
            </div>
        </div>
    </div>
</div>

